html {
    background: black;
    
}
@font-face{
    
    font-family:kase;
    src:url('font/KasseFLF-Bold.ttf')

    
}

body {
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: white;
    font-family:kase;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: yellow;
    font-weight: 300;
    line-height: 1.3;
     
}

.wrap{
    color: white;
    border: 1px solid black;
    
}
.polja{
    width: 50%;
    margin: 0 auto;
    border: 1px solid yellow;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text],[type=password]{
    
    width: 60%;
    height: 20px;
    margin: 5px;
    border:1px solid;
    font-family:kase;
}
input[type=file]{
    width: 50%;
    font-family:kase;
    height: 30px;
    
    
    
}
input[type=submit]{
    
    width: 50%;
    height: 30px;
    margin: 15px 5px 30px 5px;
    font-family:kase;
      
}
input:focus{
    border:1px solid blue;
    
}
.error{
    
    background-color:crimson;
    color: white;
    font-family:kase;
    width: 60%;
    margin:0 auto;
    
}

.select{
    margin:10px;
    
}